services:
  python-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: python_app
    working_dir: /workspace
    volumes:
      - ./app:/workspace
    # command: python main.py
